.myCard{
    width: 260px;
    display: inline-block;
    margin: 15px;
    box-sizing: border-box;
    vertical-align: top;
    color: black;

}

img{
    width: 200px;
    margin: 0 auto;
    display: inline-block;
}
