<!-- Nel template del tuo componente padre -->
<div *ngIf="mostraAuto; else mostraLogin">
  <auto (mostraDettagli)="mostraDettagliAuto($event)"></auto>
</div>
<ng-template #mostraLogin>
  <div *ngIf="mostraLoginComponent; else mostraRegistrazione">
    <login (accessoRiuscito)="gestisciAccessoRiuscito()"></login>
  </div>
</ng-template>
<ng-template #mostraRegistrazione>
  <registrati></registrati>
</ng-template>
<div class="princ" *ngIf="!mostraAuto">
  <button class="btn btn-light" (click)="toggleLoginRegistrazione()">
    {{ mostraLogin ? 'Registrati' : 'Login' }}
  </button>
</div>

<div *ngIf="autoSelezionata" class="lato">
  <h2>Dettagli Auto</h2>
  <p>Marca: {{ autoSelezionata.marca }}</p>
  <p>Modello: {{ autoSelezionata.modello }}</p>
  <p>Costo: {{ autoSelezionata.costo }}</p>
  <p>Categoria: {{ autoSelezionata.categoria }}</p>
  <p>Potenza: {{ autoSelezionata.dat_tecnici.potenza }}</p>
  <p>Consumi: {{ autoSelezionata.dat_tecnici.consumi }}</p>

  <button class="btn btn-danger" (click)="compra(autoSelezionata)">Compra</button>
</div>
